.alert {
  padding: 1rem;
  border: 1px solid;

  &--error {
    background-color: #fdf6ed;
    border-color: #ffd2b1;
    color: #ef5f5f;
  }

  &__form {
    margin-top: 1rem;

    &__errors {
      font-weight: 700;
      @include font-size(14px);
      margin-top: 0.5rem
    }
  }
}
