@import 'mixins';
@import 'site/colors';

.header {
  height: calculateRem(64px);
  background-image: linear-gradient(97deg, #55df98, #5fb4f1);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__logo {
    display: flex;
    align-items: flex-start;
    &:before {
      content: '🎯';
      display: block;
      @include font-size(36px);
      line-height: 1;
      margin-right: 0.5rem;
    }
  }

  &__appname {
    display: block;
    color: white;
    font-weight: 700;
    @include font-size(32px);
  }
}

