@import 'site/colors';

.input {
  width: 100%;
  padding: 0.5rem 1rem;
  color: $font-color;
  background-color: #fff;
  border: solid 1px #e1e7eb;
  border-radius: 0.25rem;
  outline: none;
  box-sizing: border-box;

  &::placeholder {
    color: #b8b8b8
  }

  &[disabled] {
    background-color: #e1e7eb;
  }
}

.select {
  height: 2rem;
  padding: 0.5rem 1rem;
  color: $font-color;
  background-color: #fff;
  border: solid 1px #e1e7eb;
  border-radius: 0.25rem;
  outline: none;
  box-sizing: border-box;

  &--inline {
    height: 1.5rem;

  }

  label + &, input + & {
    margin-left: 1rem;
  }
}

.btn {
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 100px;
  background-color: #e1e7eb;
  color: $font-color-light;
  font-family: 'Lato', sans-serif;
  @include font-size(14px);
  line-height: 1;
  outline: none;

  &--primary {
    background-color: $primary-color;
    color: $font-color-white;
    &[disabled] {
      background-color: #63a68b;
      cursor: wait;
    }
  }
  &--quiet {
    background-color: white;
  }
  &--warning {
    background-color: rgb(255, 106, 21);
    color: $font-color-white;
    &[disabled] {
      background-color: #dc8858;
      cursor: wait;
    }
  }

  &--inline {
    @include font-size(16px);
    padding: 0.25rem 1rem;
    text-transform: none;
  }

  input + &, select + & {
    margin-left: 1rem;
  }
}


