<div class="l-constrained">
  <h1 class="page-title">Competition Dashboard</h1>

  <competition-dashboard
    :competitions="<%= @competitions.to_json %>"
    saved_api_key="<%= @account.mailchimp_key_obfuscated %>">
  </competition-dashboard>

</div>
