$font-color: #444;
$font-color-light: #555;
$font-color-lighter: #666;

$font-color-white: rgba(255, 255, 255, 0.95);

$primary-color: #43c69b;

$error: #fe593f;
$success: #43c69b;

@mixin gradient-dark {
  background-image: linear-gradient(110deg, #393b4f, #3c3e4e 38%, #40414d);
}
