@import 'mixins';
@import 'colors';

@mixin main-font-family {
  font-family: 'Lato', sans-serif;
}

body {
  @include main-font-family;
  @include font-size(16px);
  margin: 0;
  font-weight: 400;
  line-height: 1.2;
  color: $font-color;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
